@if (loadError) {
  <div class="error-image-container">
    <img
      [src]="errorImageUrl"
      alt="Imagen con mensaje de error, algo ha ido mal" />
  </div>
} @else {
  @if (!isFetching()) {
    <section class="text-gray-700 body-font overflow-hidden bg-white">
      <div class="container mb-20 px-5 py-5 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
          <div class="lg:w-1/2 w-full lg:pl-10 lg:py-0 mt-6 lg:mt-0">
            <img
              alt="ecommerce"
              class="w-full object-contain object-top rounded"
              [src]="product.image_url" />
            <div
              class="flex justify-center mt-6 items-center pb-5 border-b-2 border-gray-200 mb-5">
              <span class="title-font font-medium text-3xl text-gray-900"
                >{{ product.price }} €</span
              >
            </div>
            <div>
              <h3 class="font-medium">Promociones asociadas:</h3>
              @for (promotion of promotions(); track promotion.id) {
                <h3
                  class="mr-75 my-2 p-1 rounded-sm bg-red-500 font-bold text-white cursor-pointer"
                  (click)="redirectPromotion(promotion.documentId)"
                  (keydown)="redirectPromotion(promotion.documentId)"
                  tabindex="0">
                  {{ promotion.title }}
                </h3>
              }
            </div>
            <div class="flex justify-center mt-10">
              <div class="flex items-center">
                <span class="mr-3">Cantidad</span>

                <form class="max-w-xs mx-auto">
                  <div class="relative flex items-center max-w-[8rem]">
                    <button
                    (click)="decrementItems()"
                      type="button"
                      id="decrement-button"
                      data-input-counter-decrement="quantity-input"
                      class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-s-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                      <svg
                        class="w-3 h-3 text-gray-900 dark:text-white"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 18 2">
                        <path
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M1 1h16" />
                      </svg>
                    </button>
                    <input
                      type="text"
                      id="quantity-input"
                      value={{getItemsCount()}}
                      data-input-counter
                      aria-describedby="helper-text-explanation"
                      class="bg-gray-50 border-x-0 border-gray-300 h-11 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="0"
                      required />
                    <button
                    (click)="incrementItems()"
                      type="button"
                      id="increment-button"
                      data-input-counter-increment="quantity-input"
                      class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                      <svg
                        class="w-3 h-3 text-gray-900 dark:text-white"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 18 18">
                        <path
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M9 1v16M1 9h16" />
                      </svg>
                    </button>
                  </div>
                </form>
              </div>
              <button
                (click)="addToCart()"
                class="flex ml-10 text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded cursor-pointer"
                >
                Añadir al carrito
              </button>
            </div>
          </div>
          <div class="lg:w-1/2 w-full lg:pl-10 lg:py-0 mt-6 lg:mt-0">
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
              {{ product.name }}
            </h1>
            <h2 class="text-sm title-font text-gray-500 tracking-widest mb-4">
              {{ product.author }}
            </h2>     
            <p class="leading-relaxed">{{ product.description }}</p>
          </div>
        </div>
      </div>
    </section>
  } @else {
    <div class="loader">
      <div class="justify-content-center jimu-primary-loading"></div>
    </div>
  }
}
