
@if(loadError){
  <div class="error-image-container">
    <img
      [src]="errorImageUrl"
      alt="Imagen con mensaje de error, algo ha ido mal"
      />
  </div>
} @else{
  @if(!isFetching()){
    <section class="text-gray-700 body-font overflow-hidden bg-white ">
      <div class="container mb-20 px-5 py-5 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
          <div class="lg:w-1/2 w-full lg:pl-10 lg:py-0 mt-6 lg:mt-0">
            <img
              alt="ecommerce"
              class="w-full object-contain object-top rounded"
              [src]="product.image_url" />
            <div
              class="flex justify-center mt-6 items-center pb-5 border-b-2 border-gray-200 mb-5">
              <span class="title-font font-medium text-3xl text-gray-900"
                >{{ product.price }} €</span
              >
            </div>
            <div class="flex justify-center">
              <div class="flex items-center">
                <span class="mr-3">Cantidad</span>
                <div class="relative">
                  <select
                    class="rounded border appearance-none border-gray-400 py-2 focus:outline-none focus:border-red-500 text-base pl-3 pr-10">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                  <span
                    class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
                    <svg
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      class="w-4 h-4"
                      viewBox="0 0 24 24">
                      <path d="M6 9l6 6 6-6"></path>
                    </svg>
                  </span>
                </div>
              </div>
              <button
                class="flex ml-10 text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded">
                Añadir al carrito
              </button>
            </div>
          </div>
          <div class="lg:w-1/2 w-full lg:pl-10 lg:py-0 mt-6 lg:mt-0">
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
              {{ product.name }}
            </h1>
            <h2 class="text-sm title-font text-gray-500 tracking-widest mb-4">
              {{ product.author }}
            </h2>
            <p class="leading-relaxed">{{ product.description }}</p>
          </div>
        </div>
      </div>
    </section>
  } @else{
    <div class="loader">
      <div class="justify-content-center jimu-primary-loading"></div>
    </div>
  }
}
