.promotion-element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 20vh;
  font-size: 1.5em;
  color: white;
  border-radius: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
}

.promotion-element > h2 {
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
    position: absolute;
    background-color: rgb(128, 128, 128, .4);
    border-radius: 5px;
    padding-inline: 20px ;
}

.promotion-element:hover h2 {
    transform: scale(1.2);
}


.promotion-image-container{
    width: 100%;
}

.promotion-image{
    width: 100%;
filter: blur(3px);
}

// .no-filter{
//     filter: none;
// }
