<div class="flex ml-30">
    <button class="font-bold text-xl bg-blue-900 text-white rounded pl-20 pr-20 cursor-pointer items-center mt-20 mb-20" [routerLink]="'/products'">← Atrás</button>
    <h1 class="cart-title font-bold text-5xl mt-20 mb-20 ml-30">Carrito</h1>
</div>

@for (product of cartItems; track product.author) {
<div class="cart-item-container flex justify-between mb-15 p-5 bg-blue-100 rounded-2xl">
  <div class="product-data-container flex">
    <div class="product-image mr-5"><img [src]="product.image_url" alt="Imagen del producto"></div>
    <div class="">
      <h2 class="font-bold text-2xl mb-5">{{product.name}}</h2>
      <h2>{{product.author}}</h2>
    </div>
  </div>
  
  <div class="flex">
    <div class="product-quantity-container">
      <div class="flex justify-center mt-10">
        <div class="">
          <span class="mr-3 ">Cantidad</span>
          <!-- ********INICIO Botón de aumentar/reducir cantidad******** -->
          <form class="max-w-xs mx-auto">
            <div class="relative flex items-center max-w-[8rem]">
              <button
                type="button"
                id="decrement-button"
                data-input-counter-decrement="quantity-input"
                class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-s-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none cursor-pointer">
                <svg
                  class="w-3 h-3 text-gray-900 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 18 2">
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 1h16" />
                </svg>
              </button>
              <input
                type="text"
                id="quantity-input"
                data-input-counter
                aria-describedby="helper-text-explanation"
                class="bg-gray-50 border-x-0 border-gray-300 h-11 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="0"
                required />
              <button
                type="button"
                id="increment-button"
                data-input-counter-increment="quantity-input"
                class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none cursor-pointer">
                <svg
                  class="w-3 h-3 text-gray-900 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 18 18">
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 1v16M1 9h16" />
                </svg>
              </button>
            </div>
          </form>
          <!-- ********FIN del botón de aumentar/reducir cantidad******** -->
        </div>
      </div>
    </div>
    <div class="flex flex-col items-end ml-20 mr-10">
      <div class="bin-icon w-7 cursor-pointer"><img src="assets/images/bin.png" alt="Botón de eliminar producto"></div>
      <h3 class="product-price mt-60 font-bold text-3xl">{{product.price * product.quantity}} €</h3>
    </div>
  </div>

</div>
}
<div class="flex flex-col items-end mr-105 mb-30">
    <div>
        <h2 class="font-bold text-xl mb-5">Total:</h2>
    </div>
    <button class="font-bold text-xl bg-blue-900 text-white rounded pl-30 pr-30 pt-4 pb-4 cursor-pointer">Checkout</button>
</div>
