<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-8 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Novedades</h2>

    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      @for (product of products(); track product.id){
        <div class="group relative">
          <img [src]="product.image_url" [alt]="product.name" class="aspect-square inline-block rounded-xl bg-gray-200 object-contain group-hover:opacity-75 lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-00">
                <button> 
                  <span aria-hidden="true" class="absolute inset-0 cursor-pointer"  (click)="showInfo(product.documentId)"></span>
                  {{product.name}}
                </button>
              </h3>
              <p class="mt-1 text-sm text-gray-500">{{product.author}}</p>
            </div>
            <p class="text-sm font-medium text-gray-900">{{product.price}}€</p>
          </div>
        </div>
      }    

      <!-- More products... -->
    </div>
    
  </div>
</div>
